.main__aboutus{
    p{
        font-size: 30px;
        background-color: $secondarycolor;
        padding: 30px;
        border-radius: 50px;
        margin-top: 50px;
        @extend %BorderStyle1;
    }
    img{
        padding: 30px;
        margin-top: 50px;
        width: auto;
        border-radius: 10%;
    }
}
.about__img2{
    width: 500px;
    height: 500px;
}