.main__section1{
    img{
        border-radius: 8px;
        @extend %BorderStyle1;
    }
}
.main__section2{
    p{
        text-align: center;
        font-size: 30px;
        padding: 15px;
        background-color: $backcolor;
        color: $blackfont;
        border-radius: 8px;
        @extend %BorderStyle1;
    }
}
.main__section3{
    @include DisplayFlex(column);
    align-items: center;
    h3{
        text-align: center;
        font-size: 35px;
        padding: 15px;
        background-color: $backcolor;
        color: rgb(3, 3, 3);
        border-radius: 20px;
        @extend %BorderStyle1;
    }
    iframe{
        padding: 10px;
        margin-left: 40px;
        width: 50%;
        height: 400px;
        border-radius: 30px; 
        @extend %BorderStyle2; 
    }
}