.main__marcas{
    @include DisplayFlex(column);
    h2{
        font-size: 30px;
        background-color: $secondarycolor;
        padding: 20px;
        border-radius: 20px;
        margin: 20px 10px 20px 10px;
        @extend %BorderStyle1;
    }
}
.carruselmarcas{
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    
}